@{
    ViewBag.Title = "About";
}
<h2>About Joey Guziejka</h2>
<div>
    <div>
        <img src="~/img/me-n-stella.png" class="headshot" />
    </div>
    <div>
        <label>Links</label>
        <ul>
            <li><a target="_blank" href="https://github.com/jguziejka">GitHub Profile</a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/joseph-guziejka">LinkedIn Profile</a></li>
        </ul>
    </div>
</div>